/*Background*/
body {
    background-image: url("../images/asanoha-400px.png");
    background-repeat: repeat;
    padding-bottom: 60px; 
}

/*Header including white background*/
.mainheader {
    background-color: #ffff;
    border-bottom: solid 2px #cccccc;
    width: 100%;
    margin: 0px auto;
    clear: both;
    bottom: 200px;
}

/*Header text*/
h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: white;
    font-size: 28px;
    background-color:#4aaaa5;
    width: 30%;
    text-align: center;
    justify-content: center;
    padding: 15px;
    margin: 0; 
    position: relative;
    left: 100px;
    z-index: 2000;
    
}

h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 28px;
    color: #4aaaa5;
    padding: 10px;
    margin: 0;
}

/*The text links at the top of every page*/
a:hover { color: pink; }

.links {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #cccccc;
    
    text-align: right;
    margin-right: 80px;
    padding: 15px;
    margin-bottom: 15px;
    margin-right: 150px;
    width: 90%;
    float: right;
    position: absolute;
    top: 10px;
}

/*The white box that surrounds the main things*/
.content {
    width: 960px;
    height: auto;
    background-color: #ffffff;
    border-color: #dddddd;
    border-width: 10px; 
    margin: auto; /*This text centers the box*/
    padding: 25px;
    box-sizing: border-box;
    position: relative;
    top: 20px;
}

/*Any text that is not the header*/
p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    color: #777777;
    border-width: 20px;
    word-wrap: break-word;
    overflow: auto;
    line-height: 1.5;
    padding: 10px;
}

/*This is for my pic specific for the About page*/
#myface {
    float: left;
    padding: 10px;
    height: 190 px;
    width: 150 px;
}

/*Here begins the portfolio page-specific codes*/
/*This adjusts the padding for the table*/
th, td {
    padding: 15px;
}

/*Rewriting into flex instead of table*/
.wrapper {
    display: flex;
    border: 10px solid #fff;
    width: 900px;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
}

h3 {
    position: relative;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    z-index: 100;
    margin: 0 auto;
    left: 0;
    right: 0;     
    bottom: 20%;
    }
      


/*Here begins the code for the Contacts page*/
.container {
    padding: 10px;
}

/*Contact page font styling*/
label {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 16px;
    display: inline-block;
    font-weight: normal;
}

/*Below are the submission forms for the Contacts page*/
input[type=text] {
    width: 100%;
    padding: 5px 5px;
    margin: 5px 5px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 16px 20px;
    box-sizing: border-box;
}

/*Submit Button*/
input[type=button], input[type=submit], input[type=reset] {
    background-color: teal;
    border: none;
    color: white;
    padding: 16px 32px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}

/*Footer goes on every page*/
footer {
    background-color: #666666;
    color: white;
    size: 8px;
    text-align: center;
    z-index: 2000;
    padding: 10px;
    padding-top: 25px;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;     
    bottom:0;
    width:100%;
    border-top: solid 10px teal;
    height:40px; 
} 

/*Media Queries*/
/*This media query is for laptop or desktop*/
@media screen and (max-width: 980px) {

}

/* This media query is for tablet*/
@media screen and (max-width: 768px) {
   
    .mainheader {
        width: 100%;
        height: 150px;
        margin: 0px auto;
        left: 0;
        right: 0;    
        top: 100px;
    }
    
    .content {
        width: 95%;
        height: auto;
        margin: 20px;
        padding: 20px;
        box-sizing: border-box;
        position: relative;
    
    }

    #myface {
        width: 20%;
        height: 30%
    }
    
    p {
      font-size: 30px; 
     
    }

}
/*This media query is for smartphone size*/
@media (max-width: 640px) {

    .mainheader {
        width: 100%;
        height: 150px;
        margin: 0px auto;
        left: 0;
        right: 0;    
        top: 100px;

    }

    .content {
        width: 95%;
        height: auto;
        margin: 20px;
        padding: 20px;
        box-sizing: border-box;
        position: relative;
    
    }

    .links {
        text-align: center;
        font-size: 20px;
        width: 100%;
        position: relative;
        display: inline-block;
        margin: 0 auto;
       
    }

    /*My problem here is adjusting the header so that the white space shows below and 
    the links appear on top of it. Had I more time I would have done so.*/    
    .links {
        text-align: center;
        font-size: 20px;
        width: 100%;
        position: relative;
        display: inline-block;
        margin: 0 auto;
       
    }

    h1 {
        font-size: 25px;
        width: 100%;
        height: 50px;
        text-align: left;
        margin: 0 auto; 
        }

    h2 {
        font-size: 25px;
        width: 100%;
        margin: 0 auto;
        top: -10px;
    }

    #myface {
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
  
    }

    p {
        font-size: 20px; 
        position: relative;
        margin: 0 auto;
        flex-wrap: wrap;
        width: 100%;
        padding: 20px;
        
    }

    /*The following code is for Portfolio Gallery*/
    .wrapper {
        flex-direction: column;
        
    }

    .projectimg {
        position: relative;
        display: inline-block;

    }

    h3 {
        position:absolute;
        width: 42%;
        right: 1070px;
        bottom: 0px,

    }
    /*This is for Contact Page*/
    form {
        width: 400px;
        height: 500px;
        margin: auto;
        position: relative;

    }
 /*Writing lines for the submit button that would isolate it from the other input tags was very difficult.*/
    input {
        width: 350px;
        height: 30px;
    }

    input.submit {
        width: 200px;
        float: left;
    }
}

/* Background pattern from Toptal Subtle Patterns */